ADDR=
ENVIRONMENT=
API_KEY=
DSN=
GOOSE_DRIVER=
GOOSE_DBSTRING=
GOOSE_MIGRATION_DIR=
# DSN="postgresql://postgres:JdMexMShXwIhpBTFtXRmtwUCGHjsYtrS@centerbeam.proxy.rlwy.net:42766/railway"
# GOOSE_DRIVER="postgres"
# GOOSE_DBSTRING="postgresql://postgres:JdMexMShXwIhpBTFtXRmtwUCGHjsYtrS@centerbeam.proxy.rlwy.net:42766/railway"
# GOOSE_MIGRATION_DIR="db/migrations"
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
ENABLE_FCM=
FIREBASE_TYPE=
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_AUTH_URI=
FIREBASE_TOKEN_URI=
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=
FIREBASE_CLIENT_X509_CERT_URL=
FIREBASE_UNIVERSE_DOMAIN=
FIREBASE_PRIVATE_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=

# SMTP (Email) - Untuk forgot password
ENABLE_SMTP=
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=
